body{
    background-color:rgb(255, 199, 234);
    animation-name:colorchange;
    animation-duration:5s;
    animation-iteration-count: infinite;
}
@keyframes colorchange{
    10%{
        background-color:rgb(234, 188, 217);
    }

}
#display{
    margin-right:20px;
    font-size: larger;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
    top:270px;
    display: flex;
    flex-direction: column;
    margin-left:700px;
    margin-right:700px;
    text-align: center;
    height: auto;
    border-radius:20px;
    color:rgb(237, 35, 183);
    animation-name:display;
    animation-duration: 10s;
    animation-iteration-count: 1;


}
#title{
    width:400px;
    height:3vh;
    font-weight: bold;
    border-radius:10px;
}
#discription{
    margin-top:20px;
    font-weight: bold;
    border-radius:10px;
    font-size:larger;
    padding-left:10px;
    color:blue;
    padding-left:10px;
}
#time{
    margin-right:10px;
    font-weight: bold;
}
#dtitle{
    margin-left:30px;
    margin-right:20px;
}
#ddata{
    margin-left:30px;
}
.col{
    text-decoration: line-through;
    font-weight: bold;
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:250px;
    margin-left:700px;
    padding-right:50px;
    margin-right:700px;
    border-radius:20px;
}
#htime{
    margin-right:50px;
    font-size: larger;
    font-weight: bold;
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}
#htitle{
    margin-right:50px;
    margin-left:50px;
    font-size: larger;
    font-weight: bold;
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}
#htext{
    margin-left:30px;
    margin-right:10px;
    font-size: larger;
    font-weight: bold;
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}
.todo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:200px;
    margin-left:100px;
    border-radius:20px;
    border-radius:20px;
    align-items: left;

}
@keyframes todo {
    from{
        position: relative;
        left:-1000px;
    }
    to{
        left:10px
    }
}
label{
    position: relative;
    top:10px;
    font-size:larger;
    font-weight: bold;
}
#button{
    font-size: xx-large;
    width:450px;
    position: relative;
    left:10px;
    border-radius:20px;
    margin-top:10px;
    background-color:rgb(138, 223, 159);
    color:white;
}
#button:hover{
    background-color:rgb(177, 239, 132);
}
#ddisplay{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
input{
    margin-bottom:10px;
    margin-top:20px;
    font-size:larger;
    padding-left:10px;
    
}
#print{
    display: flex;
}
h3{
    margin-right:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    float:right;
    color:rgb(21, 22, 21);
    font-size: xx-large;
    margin-top:100px;
    position: relative;
    top:200px;
    margin-bottom:200px;
    margin-right:100px;
    font-weight: bold;
    font-style:oblique;
   }